# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables & Secret Keys
.env
.env.local
.env.*.local
*.json
!package.json
!package-lock.json
!tsconfig.json
!vercel.json
!google-apps-script/appsscript.json
!google-apps-script/.clasp.json

# Screenshots & Upload Artifacts
.worktrees/
Too long message*
S__*
[LINE]*
*.jpg
*.png
*.txt
!public/*.png
!public/*.jpg
